@model foodisgood.Models.Order

@{
    ViewBag.Title = "Details";
}

<style>


    .bg-img {
        /* The image used */
        background-image: url("/content/Images/01.png");
        min-height: 580px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Add styles to the form container */
    .container2 {
        position: relative;
        right: 0;
        top: 15px;
        margin: 30px;
        max-width: 600px;
        padding: 26px;
        background-color: white;
        opacity: 0.8;
        border-radius: 15px;
    }

        .container2:hover {
            opacity: 1.0;
        }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit button */


    .btn:hover {
        opacity: 1;
    }
</style>
<h2>Details</h2>
<div class="bg-img">
    <div class="container2">
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Offer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offer.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offer.PriceUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.PriceUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offer.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.User.Email)
        </dd>

        <dt>
            Buyer
            @Html.DisplayNameFor(model => model.BuyerUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesiredQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesiredQuantity)
        </dd>

    </dl>
</div>
<p>
    <div class="btn btn-default">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    </div>
    <div class="btn btn-default">
        @Html.ActionLink("Back to List", "Index")
    </div>
</p>
        </div>
</div>
