@using foodisgood.Models;
@model IEnumerable<foodisgood.Models.Order>
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="w3-container w3-green w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Orders Admin</h1>
</header>

<div class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</div>
<table class="table table-bordered table-striped bg-success">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Offer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer.PriceUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesiredQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Offer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer.PriceUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesiredQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accepted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
