@using foodisgood.Models;
@model IEnumerable<foodisgood.Models.Order>
@{ ViewBag.Title = "MyOrders"; }

<h2>Index</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Offer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer.PriceUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesiredQuantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Offer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offer.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offer.PriceUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesiredQuantity)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "DeleteOrder", new { id = item.ID })
        </td>
    </tr>
    }

</table>
