@model foodisgood.Models.Offer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<style>


    .bg-img {
        /* The image used */
        background-image: url("/content/Images/01.png");
        min-height: 580px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* Add styles to the form container */
    .container2 {
        position: relative;
        right: 0;
        top: 15px;
        margin: 30px;
        max-width: 600px;
        padding: 26px;
        background-color: white;
        opacity: 0.8;
        border-radius: 15px;
    }

        .container2:hover {
            opacity: 1.0;
        }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit button */


    .btn:hover {
        opacity: 1;
    }
</style>
<div class="bg-img">
    <div class="container2">
<div>
    <h4>Offer details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="btn btn-default">
    @Html.ActionLink("Orders", "Index", "Orders")
</div>
<p>
    <div class="btn btn-default">  @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </div>
<div class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</div>
</p>
        </div>
</div>