@model IEnumerable<foodisgood.Models.Offer>

@{ ViewBag.Title = "MyOffers"; }

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<header class="w3-container w3-light-green w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Your own offers</h1>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"> @Html.ActionLink("Create New Offer", "CreateCustomer")</button>
</header>



<div class="w3-row-padding w3-pale-yellow w3-padding-64 w3-container">



    @foreach (var item in Model)
    {
        <div class="w3-third w3-row-padding" style="padding-bottom:20px;">
            <div class="w3-container w3-sand w3-card-4 w3-row-padding">
                <ul class="w3-ul w3-row-padding w3-margin-bottom">
                    <li>
                        <b>Offer title:</b>  @Html.DisplayFor(modelItem => item.Name)
                    </li>
                    <li>
                        <b>Product:</b>   @Html.DisplayFor(modelItem => item.Product.Name)
                    </li>
                    <li>
                        <b>Price/unit:</b>   @Html.DisplayFor(modelItem => item.PriceUnit)
                    </li>
                    <li>
                        <b>Desired Quantity:</b>  @Html.DisplayFor(modelItem => item.Quantity)
                    </li>
                    <li>


                      <b>Creation date:</b>  @Html.DisplayFor(modelItem => item.CreateTime)
                    </li>
                    <li>

                      <b>Expiration date:</b>  @Html.DisplayFor(modelItem => item.EndTime)
                    </li>
                    <li>

                        @if (item.Expired)
                        {
                            <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:100%">
                                <div class="w3-center w3-text-white">This order is expired!</div>
                            </div>

                        }
                        @if (!item.Expired)
                        {

                            <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:100%">
                                <div class="w3-center w3-text-white">Fresh product.</div>
                            </div>


                        }
                    </li>
                    <li>
                        <b>Description:</b> @Html.DisplayFor(modelItem => item.Description)
                    </li>

                    <li>
                        <b>Number of orders: </b> 
                        @{
                            int count = 0;
                            foreach(var i in item.Orders)
                            {
                                count++;
                            }
                            @count
                        }
                    </li>

                </ul>
                <ul class="w3-ul w3-border w3-hoverable ">
                    <li class="w3-theme w3-light-green">Options:</li>


                    <div class="btn btn-default">
                        @Html.ActionLink("Edit", "EditCustomer", new { id = item.ID })
                    </div>
                    <div class="btn btn-default">
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </div>
                    <div class="btn btn-default">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </div>
                    <div class="btn btn-default">
                        @Html.ActionLink("See Orders", "SeeOrders", new { id = item.ID })
                    </div>

                </ul>
                <br />
            </div>
        </div>


    }
</div>